# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing
coverage/

# Prisma
prisma/migrations/dev.db

# Misc
*.tmp
